@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat-Regular.ttf)
}

@font-face {
    font-family: DelaGothicOne;
    src: url(../../fonts/DelaGothicOne-Regular.ttf)
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #F6F5F4;
    align-items: center;
}

.card {
    background-color: #F6F5F4;
    box-sizing: border-box;
    align-items: center;

}

.header {

    height: 88px;
    margin: 0 auto;

    align-items: center;
    border-bottom: 1.20466px solid #E0E0E0;

}

.header-text {
    width: 1180px;
    height: 40px;
    padding-top: 24px;

    margin: 0 auto;

}

ul {
    width: 1180px;
    height: 40px;
    background-color: #e4d7d7;


}

li {
    display: inline;

}

a {
    text-decoration: none;
}

ul>li:nth-child(1) {
    padding-right: 60px;
    margin: 0 auto;

    width: 130px;
    height: 21px;

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    /* identical to box height, or 21px */

    letter-spacing: -0.02em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;


}


ul>li:nth-child(2) {

    padding-right: 30px;

    width: 49px;
    height: 22px;

    /* Text/Body 2 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: -0.04em;

    color: #000000;


    flex: none;
    order: 2;
    flex-grow: 0;


}

ul>li:nth-child(3) {

    padding-right: 30px;


    width: 72px;
    height: 22px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;


    letter-spacing: -0.04em;

    color: #757575;


    flex: none;
    order: 3;
    flex-grow: 0;

}

ul>li:nth-child(4) {

    padding-right: 30px;

    width: 70px;
    height: 22px;

    /* Text/Body 2 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 4;
    flex-grow: 0;
}


ul>li:nth-child(5) {

    margin-right: 300.31px;

    width: 55px;
    height: 22px;


}

.dropbtn {


    display: inline-flex;


    display: flex;
    align-items: center;
    gap: 5px;



    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #757575;
}

.dropdown {


    overflow: hidden;
    width: 72px;
    display: inline-flex;

}



ul>li:nth-child(6) {

    padding-right: 10px;

    width: 13px;
    height: 22px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    letter-spacing: -0.04em;


    color: #2B788B;






    padding: 9px 14px;
    gap: 14px;

    width: 41px;
    height: 40px;

    /* Primaty/Cyan Light */

    background: #C3DCE3;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

ul>li:nth-child(7) {

    padding-right: 30px;


    width: 34px;
    height: 22px;



    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 1;
    flex-grow: 0;
}

ul>li:nth-child(8) {

    margin-right: 0px;
    margin-left: 10px;

    width: 82px;
    height: 16px;

    /* Button/Button 2 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;


    letter-spacing: -0.04em;

    color: #000000;


    flex: none;
    order: 1;
    flex-grow: 0;
}






.title1 {

    display: flex;
    margin: 0 auto;



    width: 1180px;
    height: 84px;

    background: #FFFFFF;
    border-radius: 14px;

}


.title1-1 {
    display: flex;

    width: 416px;
    height: 32px;
    padding-top: 20px;
    gap: 21px;


    margin-right: 340px;
    margin-left: 22px;

}


.simbol1-tb-div {

    width: 200px;
    height: 44px;
    background-color: aquamarine;


    display: flex;

    padding-right: 20px;

    border-right: 1.21942px solid #E0E0E0;

}

.simbol1 {
    Width: 28px;
    Height: 23.88px;
    background-color: darkkhaki;
    float: right;
}

.textbook {

    width: 140px;
    height: 26px;
    background-color: gold;

    float: left;


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 1;
    flex-grow: 0;

}

/*---------*/


.simbol2-b-d-div {
    width: 114px;
    height: 30px;
    display: flex;
    gap: 11px;
}

.book {
    width: 30px;
    height: 25px;


}


.dictionary {
    width: 52px;
    height: 26px;



    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    /* Primaty/Black */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


/*---------------------*/

.title1-2 {

    width: 384px;
    height: 44px;
    padding-top: 20px;

    display: flex;
    gap: 10px;
}

.Sprint {

    width: 146px;
    height: 44px;
    margin-left: 380px;

    margin: auto;

}

.Audio {
    width: 178px;
    height: 44px;
    margin: auto;
}

.component {
    width: 40px;
    height: 40px;
    margin: auto;

}


/* ---------------------- */


.title2 {
    margin: 0 auto;
    margin-top: 40px;

    width: 830px;
    height: 40px;
    display: flex;

    background: cyan;
}

.first {
    width: 94px;
    height: 26px;
    margin-right: 40px;
}

.first span {
    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    /* Primaty/Black */

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.first button {
    width: 43px;
    height: 25px;

    background-color: #639B6D;
    border-radius: 4px;
    border: none;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;


    letter-spacing: -0.04em;

    color: #F6F5F4;
}

.second {
    width: 99px;
    height: 26px;
    margin-right: 40px;
}

.second span {
    width: 44px;
    height: 26px;

    /* Headings/ Heading 4 */

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.second button {


    width: 43px;
    height: 25px;

    background: rgba(99, 155, 109, 0.3);
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;



    /* Text/Label */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    /* Secondary/Green */

    color: #639B6D;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.third {
    width: 116px;
    height: 26px;
    margin-right: 40px;
}

.third span {
    width: 38px;
    height: 26px;

    /* Headings/ Heading 4 */

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.third button {


    width: 66px;
    height: 25px;

    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;
    border: none;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    /* Text/Label */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    /* Secondary/Yellow */

    color: #C4A24C;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fourth {
    width: 122px;
    height: 26px;
    margin-right: 40px;
}

.fourth span {
    width: 44px;
    height: 26px;

    /* Headings/ Heading 4 */

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;


    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fourth button {
    width: 66px;
    height: 25px;
    border: none;

    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    /* Secondary/Yellow */

    color: #C4A24C;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.fifth {
    width: 96px;
    height: 26px;
    margin-right: 40px;
}

.fifth span {
    width: 39px;
    height: 26px;

    /* Headings/ Heading 4 */

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fifth button {
    width: 45px;
    height: 25px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
    border: none;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    /* Secondary/Orange */

    color: #CB5B43;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sixth {
    width: 103px;
    height: 26px;
}

.sixth span {
    width: 46px;
    height: 26px;

    /* Headings/ Heading 4 */

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sixth button {

    width: 45px;
    height: 25px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
    border: none;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    /* Secondary/Orange */

    color: #CB5B43;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

/*-----------------------------------------------------------------------------*/

.group-1 {
    width: 916px;
    height: 336px;

    display: flex;

    margin: 0 auto;
    margin-top: 40px;
    background: #FFFFFF;
    padding-right: 33px;
    border-radius: 14px;

}

.img1 {
    width: 337px;
    height: 336px;
    margin-right: 40px;
    border-radius: 14px;
}

.text-section-1 {
    width: 556px;
    height: 336px;

}

.r-l-n-m-music {
    width: 516px;
    height: 40px;
    display: flex;

    margin-top: 40px;
    gap: 183px;
}

.remark-line-note {

    height: 32px;
    display: flex;


    gap: 12px;
    float: left;
}

.remark1 {


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;


    letter-spacing: -0.04em;

    color: #000000;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.slanted-line {


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.note {

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #757575;


    flex: none;
    order: 2;
    flex-grow: 0;
}

.music1 {

    width: 40px;
    height: 40px;

}

/* ---- */

.rimark2-compound {

    width: 209px;
    height: 28px;
    display: flex;
    gap: 12px;

    margin-top: 24px;
    margin-bottom: 24px;

}

.rimark2 {
    width: 87px;
    height: 25px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    letter-spacing: 0.04em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.compound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;

    width: 100px;
    height: 28px;

    /* Secondary/Orange */

    background: #CB5B43;
    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #F6F5F4;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* line-3 */

.remark3 {
    width: 516px;
    height: 24px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: -0.04em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.hor {
    border: 1.21942px solid #E0E0E0;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* line-4 */

.teacher {
    width: 516px;
    height: 48px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* line-5 */


.add-remove-buttons {

    width: 406px;
    height: 40px;
    display: flex;
    margin-top: 20px;

}

.Add-to-learn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    margin-right: 20px;

    width: 156px;
    height: 40px;

    /* Secondary/Green */

    background: #639B6D;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;




    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;


    display: flex;
    align-items: center;
    letter-spacing: -0.04em;

    color: #F6F5F4;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.remove {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;

    width: 230px;
    height: 40px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    display: flex;
    align-items: center;
    letter-spacing: -0.04em;

    color: #CB5B43;

    flex: none;
    order: 0;
    flex-grow: 0;
}

/*-------------------------------------------------------------*/

.group-2 {
    width: 926px;
    height: 336px;

    margin: 0 auto;
    margin-top: 40px;
    background-color: #FFFFFF;
    border-radius: 14px;
}

.img2 {
    width: 337px;
    height: 336px;
}


/*------------------------------------ group-3 ----------------------------------*/

.group-3 {
    width: 926px;
    height: 336px;

    margin: 0 auto;
    margin-top: 40px;
    background-color: #FFFF;
    border-radius: 14px;
}

.img3 {
    width: 337px;
    height: 336px;
    border-radius: 14px;
}



/*-------------------------------------------------------------------*/

.circles {
    width: 864px;
    height: 44px;
    margin: 0 auto;
    background-color: wheat;
    margin-top: 40px;
}




/*----------------------footer-------------------------------------------------------*/



.footer {
    width: 1180px;
    height: 160px;
    margin: 0 auto;

    background: #F6F5F4;

}

.footer-group {
    width: 1180px;

}

/* ---------------*/

.footer1 {
    height: 74px;

}

a {
    text-decoration: none;
    color: #000000;
}

.table-2-0 {
    width: 1180px;
    padding-top: 30px;

    height: 54px;

}


.table-2-0 thead {
    text-decoration: none;

}

.table-1-0 tr {
    padding-bottom: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: #757575;

    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}


a {
    text-decoration: none;
    color: #757575;
}

tr>th:nth-child(1) {
    padding-left: 0px;

    width: 44px;
    padding-right: 30px;

}



tr>th:nth-child(2) {
    width: 47px;
    padding-right: 30px;

}

tr>th:nth-child(3) {
    width: 66px;
    padding-right: 30px;

}

tr>th:nth-child(4) {
    width: 30px;
    padding-right: 30px;
}

tr>th:nth-child(5) {
    width: 73px;
    padding-right: 500px;
    height: 14px;
}

tr>th:nth-child(6) {
    width: 32px;
    padding-right: 30px;
}

tr>th:nth-child(7) {
    width: 52px;
    padding-right: 30px;
}

tr>th:nth-child(8) {
    width: 53px;
}



/*--------*/

.footer2 {
    height: 86px;
    width: 1180px;
    margin-top: 0px;
    border-top: 1.20466px solid #E0E0E0;
}

.table-1 {
    width: 1180px;
    height: 86px;
}

.tr-1 {
    display: 1nline;
    width: 1180px;

}

.fig1 {
    width: 24.81px;
    height: 19.87px;
    padding-left: 0px;
}

.fig2 {
    width: 27.9px;
    height: 18.73px;
    margin-left: 33.65px;
}

.fig3 {
    width: 25.1px;
    height: 17.57px;
    margin-left: 33.5px;
    margin-right: 683px;

}

.last-d {
    width: 249px;
    height: 12px;
}

/*   ---------------------------------*/


.table-2>th:nth-child(1) {
    width: 24.81px;

}

.teble-2>th:nth-child(2) {
    width: 27.9px;

}

.table-2>th:nth-child(3) {
    width: 25.1px;
    height: 17.57px;

}

.table-2>th:nth-child(4) {
    width: 249px;
}