@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat-Regular.ttf)
}

@font-face {
    font-family: DelaGothicOne;
    src: url(../../fonts/DelaGothicOne-Regular.ttf)
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #F6F5F4;
    align-items: center;
}

.card {
    background-color: #F6F5F4;
    box-sizing: border-box;
    align-items: center;

}

.header {

    height: 88px;
    display: flex;

    align-items: center;
    border-bottom: 1.20466px solid #E0E0E0;

}

.header-text {

    width: 1180px;

    margin: 0 auto;

}

ul {
    width: 1180px;
    height: 40px;


    margin: 0 auto;

}

li {
    display: inline;

}

a {
    text-decoration: none;
}

ul>li:nth-child(1) {
    padding-right: 60px;
    margin: 0 auto;

    width: 130px;


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    /* identical to box height, or 21px */

    letter-spacing: -0.02em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;


}


ul>li:nth-child(2) {

    padding-right: 30px;

    width: 49px;


    /* Text/Body 2 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    letter-spacing: -0.04em;

    color: #000000;


    flex: none;
    order: 2;
    flex-grow: 0;


}

ul>li:nth-child(3) {

    padding-right: 30px;


    width: 72px;
    height: 22px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;


    letter-spacing: -0.04em;

    color: #757575;


    flex: none;
    order: 3;
    flex-grow: 0;

}

ul>li:nth-child(4) {

    padding-right: 30px;

    width: 70px;


    /* Text/Body 2 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 4;
    flex-grow: 0;
}


ul>li:nth-child(5) {

    padding-right: 200px;

    width: 55px;
    height: 22px;


}

.dropbtn {


    display: inline-flex;

    align-items: center;
    gap: 5px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #757575;
}

.dropdown {


    overflow: hidden;
    width: 72px;
    display: inline-flex;

}



ul>li:nth-child(6) {

    padding-right: 10px;

    width: 13px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    letter-spacing: -0.04em;


    color: #2B788B;


    padding: 9px 14px;
    gap: 14px;

    width: 41px;
    height: 40px;

    /* Primaty/Cyan Light */

    background: #C3DCE3;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

ul>li:nth-child(7) {

    width: 34px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 1;
    flex-grow: 0;
}

ul>li:nth-child(8) {

    margin-right: 0px;
    margin-left: 10px;

    width: 82px;
    height: 16px;

    /* Button/Button 2 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;


    letter-spacing: -0.04em;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/*-----------------------------------------------------------*/

.title1 {

    display: flex;
    margin: 0 auto;
    align-items: center;


    width: 1180px;
    height: 84px;

    background: #FFFFFF;
    border-radius: 14px;

}


.title1-1 {
    display: flex;

    padding-top: 20px;
    gap: 21px;

    margin-left: 22px;


}


.simbol1-tb-div {

    width: 201.22px;
    height: 44px;

    display: flex;

}

.simbol1 {}

.textbook {

    padding-right: 20px;
    border-right: 1.21942px solid #E0E0E0;


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 1;
    flex-grow: 0;

}

/*---------*/


.simbol2-b-d-div {
    width: 114px;
    height: 30px;
    display: flex;
    gap: 11px;
}

.book {
    width: 30px;
    height: 25px;
}


.dictionary {

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;


    color: #000000;


    flex: none;
    order: 1;
    flex-grow: 0;
}


/*---------------------*/

.title1-2 {

    width: 384px;
    height: 44px;
    margin-left: auto;

    display: flex;
    gap: 10px;
}

.Sprint {

    margin-left: 380px;

    margin: auto;

}

.Audio {

    margin: auto;
}

.component {
    width: 40px;
    height: 40px;
    margin: auto;

}


/* ---------------------- */
.cont-title2 {
    height: 80px;
    align-items: center;
    margin: 0 auto;


}

.title2 {
    margin: 0 auto;

    align-items: center;
    padding-top: 40px;

    width: 830px;
    height: 80px;
    display: flex;
}



/*--------------------                  hovers          ----------------------*/

.first:hover {
    border-bottom: 2px solid #000000;
}

.second:hover {
    border-bottom: 2px solid #000000;
}

.third:hover {
    border-bottom: 2px solid #000000;
}

.fourth:hover {
    border-bottom: 2px solid #000000;
}

.fifth:hover {
    border-bottom: 2px solid #000000;
}

.sixth:hover {
    border-bottom: 2px solid #000000;
}




/*----------  hover -------*/


.title2 span:hover {
    color: #000000;
}

.first button:hover {
    background: #639B6D;
    color: #F6F5F4;
}

.second button:hover {
    background-color: #639B6D;
    color: #F6F5F4;
}

.third button:hover {

    background-color: #C4A24C;
    color: rgba(243, 240, 234, 0.968);

}

.fourth button:hover {
    background-color: #C4A24C;
    color: rgba(243, 240, 234, 0.968);
}

.fifth button:hover {
    background-color: #CB5B43;
    color: hsla(40, 30%, 96%, 0.836);
}

.sixth button:hover {
    background-color: #CB5B43;
    color: hsla(40, 30%, 96%, 0.836);
}


.title2 a:hover {
    color: white
}

.title2 a {
    color: #5996A5;
}

.first {

    align-items: center;
    margin-right: 40px;
    padding-bottom: 14px;

}

.first span {


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;


    flex: none;
    order: 0;
    flex-grow: 0;
    color: #757575;
}


.first button {
    width: 43px;
    height: 25px;


    background-color: rgba(99, 155, 109, 0.3);
    border-radius: 4px;
    border: none;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    color: #639B6D;

    letter-spacing: -0.04em;



}

.second {
    align-items: center;
    margin-right: 40px;
    padding-bottom: 14px;
}

.second span {

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;

    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.second button {


    width: 43px;
    height: 25px;

    background: rgba(99, 155, 109, 0.3);
    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;



    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    color: #639B6D;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.third {
    align-items: center;
    margin-right: 40px;
    padding-bottom: 14px;
}

.third span {

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 0;
    flex-grow: 0;
}


.third button {


    width: 66px;
    height: 25px;

    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;
    border: none;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;


    color: #C4A24C;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fourth {
    align-items: center;
    margin-right: 40px;
    padding-bottom: 14px;
}

.fourth span {

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;


    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.fourth button {
    width: 66px;
    height: 25px;
    border: none;

    background: rgba(196, 162, 76, 0.3);
    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    /* Secondary/Yellow */

    color: #C4A24C;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.fifth {
    align-items: center;
    margin-right: 40px;
    padding-bottom: 14px;
}

.fifth span {

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;


    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.fifth button {
    width: 45px;
    height: 25px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
    border: none;

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 17px */

    letter-spacing: -0.04em;

    /* Secondary/Orange */

    color: #CB5B43;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.sixth {
    align-items: center;
    margin-right: 40px;
    padding-bottom: 14px;
}

.sixth span {


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    /* identical to box height, or 26px */

    letter-spacing: -0.04em;

    color: #757575;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.sixth button {

    width: 45px;
    height: 25px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 4px;
    border: none;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;

    letter-spacing: -0.04em;

    /* Secondary/Orange */

    color: #CB5B43;


    flex: none;
    order: 0;
    flex-grow: 0;
}

/*-----------------------------------------------------------------------------*/

.group-1 {
    width: 926px;
    height: 336px;

    display: flex;

    margin: 0 auto;
    margin-top: 40px;
    background: #FFFFFF;
    padding-right: 33px;
    border-radius: 14px;


}

.img1 {
    width: 337px;
    height: 336px;
    margin-right: 40px;
    border-radius: 14px 14px;
}

.text-section-1 {
    width: 556px;
    height: 336px;
    padding-right: 33px;

}

.r-l-n-m-music {
    width: 516px;
    height: 40px;
    display: flex;

    margin-top: 40px;
    gap: 214px;
}

.remark-line-note {

    height: 32px;
    display: flex;


    gap: 12px;
    float: left;
}

.remark1 {


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;


    letter-spacing: -0.04em;

    color: #000000;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.slanted-line {


    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.note {

    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #757575;


    flex: none;
    order: 2;
    flex-grow: 0;
}

.music1 {

    width: 40px;
    height: 40px;

}

/* ---- */

.rimark2-compound {

    width: 209px;
    height: 28px;
    display: flex;
    gap: 12px;

    margin-top: 24px;
    margin-bottom: 24px;

}

.rimark2 {
    width: 87px;
    height: 25px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    letter-spacing: 0.04em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.compound {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;

    width: 100px;
    height: 28px;

    /* Secondary/Orange */

    background: #CB5B43;
    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #F6F5F4;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* line-3 */

.remark3 {
    width: 516px;
    height: 24px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    letter-spacing: -0.04em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.hor {
    border: 1.21942px solid #E0E0E0;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

/* line-4 */

.teacher {
    width: 516px;
    height: 48px;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: -0.04em;

    /* Primaty/Grey Dark */

    color: #757575;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* line-5 */


.add-remove-buttons {

    width: 406px;
    height: 40px;
    display: flex;
    margin-top: 20px;

}

.Add-to-learn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    margin-right: 20px;

    width: 156px;
    height: 40px;

    /* Secondary/Green */

    background: #639B6D;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;




    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;


    display: flex;
    align-items: center;
    letter-spacing: -0.04em;

    color: #F6F5F4;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.remove {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 12px;

    width: 230px;
    height: 40px;

    background: rgba(203, 91, 67, 0.3);
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    display: flex;
    align-items: center;
    letter-spacing: -0.04em;

    color: #CB5B43;

    flex: none;
    order: 0;
    flex-grow: 0;
}

/*-------------------------------------------------------------*/

.group-2 {
    width: 926px;
    height: 336px;
    padding-right: 33px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #FFFFFF;
    border-radius: 14px;
}

.img2 {
    width: 337px;
    height: 336px;
}

/*-------text area-2--------------------*/

.text-section-2 {
    width: 556px;
    height: 336px;
    margin-left: 40px;
    padding-right: 33px;
}

.line-2-1 {
    width: 516px;
    height: 40px;

    display: flex;
    margin-top: 40px;
    gap: 218px;

}

.auful-line-terrible {
    width: 271px;
    height: 32px;
    display: flex;
    float: right;
    gap: 12px;
}

.auful {
    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.slanted-line-2 {
    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #000000;

    flex: none;
    order: 1;
}

.terrible {
    font-family: DelaGothicOne;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;

    letter-spacing: -0.04em;

    color: #757575;

    flex: none;
    order: 2;
    flex-grow: 0;
}


.music2 {
    width: 40px;
    height: 40px;
}

/*-------*/

.line-2-2 {
    width: 166px;
    height: 28px;
    gap: 22px;
    display: flex;

    padding-top: 20px;
    margin-bottom: 44px;

}

.offer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    letter-spacing: 0.04em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}



/*------------------------------------ group-3 ----------------------------------*/

.group-3 {
    width: 926px;
    height: 336px;
    display: flex;

    margin: 0 auto;
    margin-top: 40px;

    background-color: #FFFFFF;
    border-radius: 14px;
    padding-right: 33px;

}



.img3 {
    width: 337px;
    height: 336px;
    border-radius: 14px;
    margin-right: 40px;
}




/*-------------------------------------------------------------------*/
.section-circles {
    height: 184px;
    padding-top: 40px;
    padding-bottom: 100px;

}

.circles {

    width: 864px;
    height: 44px;
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.circle-errow {
    width: 44px;
    height: 44px;
    margin-right: 24px;


    /* Secondary/Cyan */

    border: 3px solid #5996A5;
    border-radius: 100px;


    flex: none;
    order: 0;
    flex-grow: 0;
}



.circles button:hover {
    background-color: #2B788B;
}


.circle-1 {
    width: 44px;
    height: 44px;

    margin-right: 24px;

    /* Secondary/Cyan */

    border: 3px solid #5996A5;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.circle-2 {
    width: 44px;
    height: 44px;
    margin-right: 24px;


    border: 3px solid #5996A5;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.circle-3 {
    width: 44px;
    height: 44px;

    margin-right: 24px;

    border: 3px solid #5996A5;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.wertili {

    margin-right: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    display: flex;
    align-items: flex-end;

    letter-spacing: 0.04em;
    color: #757575;


}

.circle-27 {
    width: 44px;
    height: 44px;

    margin-right: 24px;

    border: 3px solid #5996A5;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.circle-28 {
    width: 44px;
    height: 44px;

    border: 3px solid #5996A5;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.circle-29 {
    width: 44px;
    height: 44px;

    margin-right: 24px;

    border: 3px solid #5996A5;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.c
/*----------------------footer-------------------------------------------------------*/



.footer {
    width: 1180px;
    height: 160px;
    margin: 0 auto;

    background: #F6F5F4;

}

.footer-group {
    width: 1180px;

}

/* ---------------*/

.footer1 {
    height: 74px;

}

a {
    text-decoration: none;
    color: #000000;
}

.table-2-0 {
    width: 1180px;
    padding-top: 30px;

    height: 54px;

}


.table-2-0 thead {
    text-decoration: none;

}

.table-1-0 tr {
    padding-bottom: 20px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

    color: #757575;

    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}


a {
    text-decoration: none;
    color: #757575;
}

tr>th:nth-child(1) {
    padding-left: 0px;

    width: 44px;
    padding-right: 30px;

}



tr>th:nth-child(2) {
    width: 47px;
    padding-right: 30px;

}

tr>th:nth-child(3) {
    width: 66px;
    padding-right: 30px;

}

tr>th:nth-child(4) {
    width: 30px;
    padding-right: 30px;
}

tr>th:nth-child(5) {
    width: 73px;
    padding-right: 500px;
    height: 14px;
}

tr>th:nth-child(6) {
    width: 32px;
    padding-right: 30px;
}

tr>th:nth-child(7) {
    width: 52px;
    padding-right: 30px;
}

tr>th:nth-child(8) {
    width: 53px;
}



/*--------*/

.footer2 {
    height: 86px;

    margin: 0 auto;
    border-top: 1.20466px solid #E0E0E0;
}

.table-1 {
    width: 1180px;
    height: 86px;
    margin: 0 auto;

}

.tr-1 {
    display: 1nline;
    width: 1180px;

}

.fig1 {
    width: 24.81px;
    height: 19.87px;
    padding-left: 0px;
}

.fig2 {
    width: 27.9px;
    height: 18.73px;
    margin-left: 33.65px;
}

.fig3 {
    width: 25.1px;
    height: 17.57px;
    margin-left: 33.5px;
    margin-right: 648px;

}



/*   ---------------------------------*/


.table-2>th:nth-child(1) {
    width: 24.81px;

}

.teble-2>th:nth-child(2) {
    width: 27.9px;

}

.table-2>th:nth-child(3) {

    height: 17.57px;

}

.table-2>th:nth-child(4) {

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;


    color: #757575;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.last-d {
    display: flex;
    width: 290px;
    margin-right: 0px;

}


/*------------------------------*/